# AI Service Configuration
AI_SERVICE_URL=https://naat-ai.duckdns.org

# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_NAATS_COLLECTION_ID=
APPWRITE_AI_JOBS_COLLECTION_ID=ai_jobs
APPWRITE_API_KEY=
