APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_NAATS_COLLECTION_ID=
APPWRITE_AUDIO_BUCKET_ID=audio-files
YTDLP_BINARY=yt-dlp
YTDLP_COOKIES_PATH=./cookies.txt
AUDIO_WORKER_LIMIT=10
AUDIO_WORKER_DELAY_MS=2000
